In [91]:
import pandas as pd
from sqlalchemy import create_engine, text

In [ ]:
conn_url = 'postgresql://postgres:YOUR_PASSWORD@localhost/YOUR_DATABASE'
engine = create_engine(conn_url)
connection = engine.connect()
print("Connected to database")

In [93]:
df = pd.read_csv("/Users/michaelyan/Desktop/luxury_cosmetics.csv")
print("file loaded")
print(df.head())

file loaded
    event_id          parent_company              brand         region  \
0  POP100282                    Puig  Charlotte Tilbury  North America
1  POP102014           L’Oréal Group   Valentino Beauty  North America
2  POP101719           L’Oréal Group         YSL Beauty         Europe
3  POP100994    Hermès International      Hermès Beauty  North America
4  POP102033  Estée Lauder Companies    Tom Ford Beauty         Europe

       city        location_type         event_type  start_date    end_date  \
0     Miami  Art/Design District        Flash Event  2024-02-25  2024-03-02
1  New York    Airport Duty-Free        Flash Event  2024-03-17  2024-06-09
2    Berlin    Airport Duty-Free  Standalone Pop-Up  2025-02-26  2025-03-10
3   Chicago    Airport Duty-Free  Standalone Pop-Up  2025-07-06  2025-08-04
4    London          High-Street       Shop-in-Shop  2024-12-06  2024-12-25

   lease_length_days  ...                              product_name price_usd  \
0                  6  ...            Charlotte Tilbury Glow Mascara     62.21
1                 84  ...  Valentino Beauty Pearl Eyeshadow Palette     77.93
2                 12  ...         YSL Beauty Glow Eyeshadow Palette    149.91
3                 29  ...           Hermès Beauty Pearl Highlighter     80.32
4                 19  ...          Tom Ford Beauty Noir Highlighter     56.15

   avg_daily_footfall  units_sold  units_allocated  Unnamed: 16  \
0                1107        3056             3090        98.90
1                1652        2782             3223        86.32
2                 752        2720             3932        69.18
3                1688         203              304        66.78
4                1012        1292             1613        80.10

   sell_through_pct  Unnamed: 18  Unnamed: 19  \
0            0.9890          NaN          NaN
1            0.8632          NaN          NaN
2            0.6918          NaN          NaN
3            0.6678          NaN          NaN
4            0.8010          NaN          NaN

   event_id is the unique identifier for each row, hence the PK
0  added parent_company, headquarter_city, curren...
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 21 columns]

In [94]:
#Convert date_assigned to datetime
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

In [ ]:
#create tables in pgadmin 
"""
DROP TABLE IF EXISTS events CASCADE;
DROP TABLE IF EXISTS products CASCADE;
DROP TABLE IF EXISTS locations CASCADE;
DROP TABLE IF EXISTS location_types CASCADE;
DROP TABLE IF EXISTS event_types CASCADE;
DROP TABLE IF EXISTS product_categories CASCADE;
DROP TABLE IF EXISTS regions CASCADE;
DROP TABLE IF EXISTS brands CASCADE;

CREATE TABLE regions (
    region_id INTEGER PRIMARY KEY,
    region VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE product_categories (
    category_id INTEGER PRIMARY KEY,
    product_category VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE brands (
    brand_id INTEGER PRIMARY KEY,
    brand VARCHAR(100) NOT NULL UNIQUE,
    parent_company VARCHAR(100) NOT NULL
);

CREATE TABLE event_types (
    event_type_id INTEGER PRIMARY KEY,
    event_type VARCHAR(50) NOT NULL UNIQUE
);

CREATE TABLE location_types (
    location_type_id INTEGER PRIMARY KEY,
    location_type VARCHAR(100) NOT NULL UNIQUE
);

CREATE TABLE locations (
    location_id INTEGER PRIMARY KEY,
    city VARCHAR(100) NOT NULL UNIQUE,
    region_id INTEGER NOT NULL,
    CONSTRAINT fk_locations_region 
        FOREIGN KEY (region_id) REFERENCES regions(region_id)
        ON DELETE RESTRICT ON UPDATE CASCADE
);

CREATE TABLE products (
    sku VARCHAR(20) PRIMARY KEY,
    product_name VARCHAR(200) NOT NULL,
    category_id INTEGER NOT NULL,
    price_usd DECIMAL(10,2) NOT NULL,
    CONSTRAINT fk_products_category 
        FOREIGN KEY (category_id) REFERENCES product_categories(category_id)
        ON DELETE RESTRICT ON UPDATE CASCADE
);

CREATE TABLE events (
    event_id VARCHAR(20) PRIMARY KEY,
    brand_id INTEGER NOT NULL,
    location_id INTEGER NOT NULL,
    location_type_id INTEGER NOT NULL,
    event_type_id INTEGER NOT NULL,
    sku VARCHAR(20) NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    lease_length_days INTEGER NOT NULL,
    avg_daily_footfall INTEGER,
    units_sold INTEGER NOT NULL,
    units_allocated DECIMAL(10,2),
    sell_through_pct DECIMAL(5,4),
    sales_conversion_rate DECIMAL(5,4),
    
    CONSTRAINT fk_events_brand 
        FOREIGN KEY (brand_id) REFERENCES brands(brand_id)
        ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT fk_events_location 
        FOREIGN KEY (location_id) REFERENCES locations(location_id)
        ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT fk_events_location_type 
        FOREIGN KEY (location_type_id) REFERENCES location_types(location_type_id)
        ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT fk_events_event_type 
        FOREIGN KEY (event_type_id) REFERENCES event_types(event_type_id)
        ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT fk_events_product 
        FOREIGN KEY (sku) REFERENCES products(sku)
        ON DELETE RESTRICT ON UPDATE CASCADE
);
"""

In [95]:
#create indices
index_script = """
CREATE INDEX IF NOT EXISTS idx_events_brand 
    ON events(brand_id);

CREATE INDEX IF NOT EXISTS idx_events_location 
    ON events(location_id);

CREATE INDEX IF NOT EXISTS idx_events_date 
    ON events(start_date, end_date);

CREATE INDEX IF NOT EXISTS idx_events_performance 
    ON events(sell_through_pct);

CREATE INDEX IF NOT EXISTS idx_events_sku 
    ON events(sku);

CREATE INDEX IF NOT EXISTS idx_products_category 
    ON products(category_id);

CREATE INDEX IF NOT EXISTS idx_locations_region 
    ON locations(region_id);
"""

with engine.begin() as conn:
    conn.exec_driver_sql(index_script)

print("Indexes created successfully.")

Indexes created successfully.

In [96]:
#insert data into pgadmin 
insert_script = """
INSERT INTO regions (region_id, region) VALUES
(1, 'North America'),
(2, 'Europe'),
(3, 'Asia'),
(4, 'Middle East'),
(5, 'South America')
ON CONFLICT (region_id) DO NOTHING;

INSERT INTO product_categories (category_id, product_category) VALUES
(1, 'Lip Products'),
(2, 'Eye Products'),
(3, 'Face Products'),
(4, 'Fragrances'),
(5, 'Skincare'),
(6, 'Other')
ON CONFLICT (category_id) DO NOTHING;

INSERT INTO brands (brand_id, brand, parent_company) VALUES
(1, 'Charlotte Tilbury', 'Puig'),
(2, 'Valentino Beauty', 'L''Oréal Group'),
(3, 'YSL Beauty', 'L''Oréal Group'),
(4, 'Lancôme', 'L''Oréal Group'),
(5, 'Armani Beauty', 'L''Oréal Group'),
(6, 'Hermès Beauty', 'Hermès International'),
(7, 'Tom Ford Beauty', 'Estée Lauder'),
(8, 'Chanel Beauty', 'Chanel'),
(9, 'Dior', 'LVMH'),
(10, 'Gucci Beauty', 'Coty Inc.'),
(11, 'Estée Lauder', 'Estée Lauder'),
(12, 'Fenty Beauty', 'LVMH'),
(13, 'Givenchy Beauty', 'LVMH'),
(14, 'Prada Beauty', 'L''Oréal Group'),
(15, 'La Mer', 'Estée Lauder'),
(16, 'Benefit Cosmetics', 'LVMH'),
(17, 'Burberry Beauty', 'Coty Inc.'),
(18, 'Bobbi Brown', 'Estée Lauder'),
(19, 'Jo Malone', 'Estée Lauder'),
(20, 'Kiehl''s', 'L''Oréal Group'),
(21, 'Clinique', 'Estée Lauder'),
(22, 'MAC Cosmetics', 'Estée Lauder'),
(23, 'Versace Beauty', 'Euroitalia'),
(24, 'Laura Mercier', 'Shiseido')
ON CONFLICT (brand_id) DO NOTHING;

INSERT INTO event_types (event_type_id, event_type) VALUES
(1, 'Flash Event'),
(2, 'Standalone Pop-Up')
ON CONFLICT (event_type_id) DO NOTHING;

INSERT INTO location_types (location_type_id, location_type) VALUES
(1, 'Art/Design District'),
(2, 'Airport Duty-Free'),
(3, 'Mall/Retail Hub'),
(4, 'Boutique Store'),
(5, 'Tech/Innovation Hub')
ON CONFLICT (location_type_id) DO NOTHING;
"""

with engine.begin() as conn:
    conn.exec_driver_sql(insert_script)

print("Insert complete")

Insert complete

In [105]:
#insert products
products = pd.read_csv("/Users/michaelyan/Desktop/products.csv")
products = products.rename(columns={"category_id (FK)": "category_id"})

products["category_id"] = products["category_id"].astype(int)
products["price_usd"]   = products["price_usd"].astype(float)

product_insert_sql = text("""
    INSERT INTO products (sku, product_name, category_id, price_usd)
    VALUES (:sku, :product_name, :category_id, :price_usd)
    ON CONFLICT (sku) DO NOTHING;
""")

records = products.to_dict(orient="records")

with engine.begin() as conn:
    conn.execute(product_insert_sql, records)

print("Products inserted (duplicates skipped).")

Products inserted (duplicates skipped).

In [98]:
from sqlalchemy import text

insert_specific = text("""
INSERT INTO event_types (event_type_id, event_type) VALUES
    (3, 'Premium Event'),
    (4, 'Seasonal Campaign'),
    (5, 'Special Launch'),
    (6, 'Limited Edition'),
    (7, 'Exclusive Preview'),
    (8, 'Brand Experience'),
    (9, 'Holiday Special'),
    (10, 'Anniversary Event')
ON CONFLICT (event_type_id) DO NOTHING;
""")

connection.execute(insert_specific)
connection.commit()
print("Inserted predefined event types.")


insert_missing = text("""
INSERT INTO event_types (event_type_id, event_type)
SELECT generate_series, 'Event Type ' || generate_series
FROM generate_series(3, 10)
WHERE generate_series NOT IN (SELECT event_type_id FROM event_types);
""")

connection.execute(insert_missing)
connection.commit()
print("Inserted missing event types.")


rows = connection.execute(text("SELECT * FROM event_types ORDER BY event_type_id;")).fetchall()
print("\nupdated event_types table:")
for row in rows:
    print(row)

Inserted predefined event types.
Inserted missing event types.

updated event_types table:
(1, 'Flash Event')
(2, 'Standalone Pop-Up')
(3, 'Premium Event')
(4, 'Seasonal Campaign')
(5, 'Special Launch')
(6, 'Limited Edition')
(7, 'Exclusive Preview')
(8, 'Brand Experience')
(9, 'Holiday Special')
(10, 'Anniversary Event')

In [ ]:
#insert events
from sqlalchemy import create_engine, text

events = pd.read_csv("/Users/michaelyan/Desktop/events.csv")

#rename FK columns to match table
events = events.rename(columns={
    "brand_id (FK)": "brand_id",
    "location_id (FK)": "location_id",
    "location_type_id (FK)": "location_type_id",
    "event_type_id (FK)": "event_type_id",
    "sku (FK)": "sku"
})

# dates: convert + handle NaT -> None 
events["start_date"] = pd.to_datetime(events["start_date"], errors="coerce")
events["end_date"]   = pd.to_datetime(events["end_date"],   errors="coerce")

# Fill missing end_date with Jan 1 of start_date's year
mask_end = events["end_date"].isna() & events["start_date"].notna()
events.loc[mask_end, "end_date"] = pd.to_datetime(
    events.loc[mask_end, "start_date"].dt.year.astype(str) + "-01-01"
)

# Fill missing start_date with Jan 1 of end_date's year
mask_start = events["start_date"].isna() & events["end_date"].notna()
events.loc[mask_start, "start_date"] = pd.to_datetime(
    events.loc[mask_start, "end_date"].dt.year.astype(str) + "-01-01"
)

both_na = events["start_date"].isna() & events["end_date"].isna()
if both_na.any():
    events.loc[both_na, "start_date"] = pd.to_datetime("2024-01-01")
    events.loc[both_na, "end_date"]   = pd.to_datetime("2024-01-01")

# Sanity check: no NaT left
#print("Any NaT in start_date?", events["start_date"].isna().any())
#print("Any NaT in end_date?",   events["end_date"].isna().any())

#Numeric type cleanup 
int_cols = [
    "brand_id", "location_id", "location_type_id",
    "event_type_id", "lease_length_days", "units_sold"
]
for col in int_cols:
    events[col] = events[col].astype(int)

# avg_daily_footfall can be null
if "avg_daily_footfall" in events.columns:
    events["avg_daily_footfall"] = events["avg_daily_footfall"].where(
        events["avg_daily_footfall"].notna(), None
    )

float_cols = ["units_allocated", "sell_through_pct", "sales_conversion_rate"]
for col in float_cols:
    events[col] = events[col].astype(float)

#Insert into events table
event_insert_sql = text("""
    INSERT INTO events (
        event_id, brand_id, location_id, location_type_id,
        event_type_id, sku, start_date, end_date,
        lease_length_days, avg_daily_footfall, units_sold,
        units_allocated, sell_through_pct, sales_conversion_rate
    )
    VALUES (
        :event_id, :brand_id, :location_id, :location_type_id,
        :event_type_id, :sku, :start_date, :end_date,
        :lease_length_days, :avg_daily_footfall, :units_sold,
        :units_allocated, :sell_through_pct, :sales_conversion_rate
    )
    ON CONFLICT (event_id) DO NOTHING;
""")

records = events.to_dict(orient="records")

with engine.begin() as conn:
    conn.execute(event_insert_sql, records)

print("Events inserted (duplicates skipped).")

Events inserted (duplicates skipped).

In [101]:
#query 1: Cities ranked by average sell-through rate
print("Cities ranked by average sell-through rate:")

query = text("""
    SELECT 
        l.city,
        r.region,
        COUNT(e.event_id) as total_events,
        ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
        SUM(e.units_sold) as total_units_sold,
        ROUND(AVG(e.units_sold), 0) as avg_units_per_event
    FROM events e
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
    GROUP BY l.city, r.region
    HAVING COUNT(e.event_id) >= 5  -- Only cities with meaningful sample size
    ORDER BY avg_sell_through DESC
    LIMIT 10
""")

result = connection.execute(query)
print(f"\n{'City':<20} {'Region':<15} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Avg Units':<10}")
print("-" * 110)
for row in result:
    print(f"{row[0]:<20} {row[1]:<15} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<12} {row[6]:<10.0f}")

Cities ranked by average sell-through rate:

City                 Region          Events   Avg Sell %   Avg Conv %   Total Units  Avg Units
--------------------------------------------------------------------------------------------------------------
Stockholm            Europe          72       0.7716       0.0517       150936       2096
Beijing              Asia            85       0.7631       0.0564       174529       2053
Amsterdam            Europe          80       0.7491       0.0635       139605       1745
Zurich               Europe          78       0.7445       0.0477       148470       1903
Madrid               Europe          81       0.7436       0.0532       163045       2013
Lisbon               Europe          47       0.7363       0.0618       84553        1799
Seoul                Asia            90       0.7350       0.0703       163701       1819
Chicago              North America   108      0.7344       0.0472       218707       2025
Tokyo                Asia            86       0.7338       0.0946       171904       1999
Berlin               Europe          81       0.7334       0.0729       162038       2000

In [102]:
#query 2: region ranked
print("Regions Ranked by Performance:")

query = text("""
    SELECT 
        r.region,
        COUNT(DISTINCT l.location_id) as locations_count,
        COUNT(e.event_id) as total_events,
        ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
        SUM(e.units_sold) as total_units_sold,
        ROUND(SUM(e.units_sold * p.price_usd), 2) as total_revenue_usd
    FROM events e
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
        JOIN products p ON e.sku = p.sku
    GROUP BY r.region
    ORDER BY avg_sell_through DESC
""")

result = connection.execute(query)
print(f"\n{'Region':<15} {'Locations':<11} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Revenue (USD)':<15}")
print("-" * 100)
for row in result:
    print(f"{row[0]:<15} {row[1]:<11} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<12} ${row[6]:<14,.2f}")

Regions Ranked by Performance:

Region          Locations   Events   Avg Sell %   Avg Conv %   Total Units  Revenue (USD)
----------------------------------------------------------------------------------------------------
Asia            7           578      0.7360       0.0700       1129095      $111,728,720.53
Europe          13          1057     0.7332       0.0569       2029696      $191,625,573.43
North America   5           425      0.7287       0.0694       834915       $80,447,042.84
Middle East     1           73       0.7119       0.0621       138778       $14,934,026.78

In [30]:
#query 3: TOP PERFORMING LOCATION TYPES
print("Top Performing Location Types:")

query = text("""
    SELECT 
        lt.location_type,
        COUNT(e.event_id) as total_events,
        ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
        ROUND(STDDEV(e.sell_through_pct), 4) as sell_through_stddev,
        MIN(e.sell_through_pct) as min_sell_through,
        MAX(e.sell_through_pct) as max_sell_through,
        SUM(e.units_sold) as total_units_sold,
        ROUND(AVG(e.avg_daily_footfall), 0) as avg_footfall
    FROM events e
        JOIN location_types lt ON e.location_type_id = lt.location_type_id
    GROUP BY lt.location_type
    ORDER BY avg_sell_through DESC
""")

result = connection.execute(query)
print(f"\n{'Location Type':<20} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Std Dev':<10} {'Min %':<10} {'Max %':<10} {'Total Units':<12} {'Avg Footfall':<12}")
print("-" * 130)
for row in result:
    print(f"{row[0]:<20} {row[1]:<8} {row[2]:<12.4f} {row[3]:<12.4f} {row[4]:<10.4f} {row[5]:<10.4f} {row[6]:<10.4f} {row[7]:<12} {row[8]:<12.0f}")

Top Performing Location Types:

Location Type        Events   Avg Sell %   Avg Conv %   Std Dev    Min %      Max %      Total Units  Avg Footfall
----------------------------------------------------------------------------------------------------------------------------------
Mall/Retail Hub      471      0.7408       0.0416       0.1427     0.4064     1.0000     915749       1880
Airport Duty-Free    434      0.7382       0.0569       0.1523     0.4198     1.0000     856913       1594
Boutique Store       422      0.7309       0.0739       0.1488     0.3997     1.0000     819564       1191
Art/Design District  376      0.7307       0.0909       0.1441     0.3950     1.0000     723498       920
Tech/Innovation Hub  430      0.7200       0.0582       0.1418     0.4090     1.0000     816760       1340

In [31]:
#query 4: TOP PERFORMING EVENT TYPES
print("Top Performing Event Types:")

query = text("""
    SELECT 
    et.event_type,
    COUNT(e.event_id) as total_events,
    ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
    ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
    ROUND(AVG(e.lease_length_days), 1) as avg_lease_days,
    ROUND(AVG(e.units_sold::numeric / e.lease_length_days), 2) as avg_daily_units_sold,
    SUM(e.units_sold) as total_units_sold
FROM events e
    JOIN event_types et ON e.event_type_id = et.event_type_id
GROUP BY et.event_type
ORDER BY avg_sell_through DESC;
""")
result = connection.execute(query)
print(f"\n{'Event Type':<20} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Avg Lease Days':<15} {'Daily Units':<12} {'Total Units':<12}")
print("-" * 110)
for row in result:
    print(f"{row[0]:<20} {row[1]:<8} {row[2]:<12.4f} {row[3]:<12.4f} {row[4]:<15.1f} {row[5]:<12.2f} {row[6]:<12}")

Top Performing Event Types:

Event Type           Events   Avg Sell %   Avg Conv %   Avg Lease Days  Daily Units  Total Units
--------------------------------------------------------------------------------------------------------------
Special Launch       408      0.7589       0.0622       47.7            71.79        827430
Flash Event          422      0.7531       0.0723       47.5            80.22        860072
Standalone Pop-Up    425      0.7278       0.0608       46.0            73.42        815833
Seasonal Campaign    438      0.7124       0.0626       46.4            77.74        819407
Premium Event        440      0.7121       0.0579       46.4            71.37        809742

In [32]:
#query 5: BEST PERFORMING COMBINATIONS
print("Top City/Region/Location/Event Type Combinations:")

query = text("""
    SELECT 
        l.city,
        r.region,
        lt.location_type,
        et.event_type,
        COUNT(e.event_id) as events,
        ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
        SUM(e.units_sold) as total_units,
        ROUND(AVG(e.units_sold), 0) as avg_units
    FROM events e
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
        JOIN location_types lt ON e.location_type_id = lt.location_type_id
        JOIN event_types et ON e.event_type_id = et.event_type_id
    GROUP BY l.city, r.region, lt.location_type, et.event_type
    HAVING COUNT(e.event_id) >= 3
    ORDER BY avg_sell_through DESC
    LIMIT 20
""")

result = connection.execute(query)
print(f"\n{'City':<20} {'Region':<15} {'Location Type':<20} {'Event Type':<20} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Avg Units':<10}")
print("-" * 145)
for row in result:
    print(f"{row[0]:<20} {row[1]:<15} {row[2]:<20} {row[3]:<20} {row[4]:<8} {row[5]:<12.4f} {row[6]:<12.4f} {row[7]:<12} {row[8]:<10.0f}")

Top City/Region/Location/Event Type Combinations:

City                 Region          Location Type        Event Type           Events   Avg Sell %   Avg Conv %   Total Units  Avg Units
-------------------------------------------------------------------------------------------------------------------------------------------------
Rome                 Europe          Boutique Store       Flash Event          3        0.9192       0.0306       6596         2199
Zurich               Europe          Airport Duty-Free    Flash Event          4        0.9109       0.1254       7341         1835
Beijing              Asia            Tech/Innovation Hub  Special Launch       5        0.8991       0.0421       14426        2885
Zurich               Europe          Mall/Retail Hub      Special Launch       4        0.8866       0.0279       10729        2682
Paris                Europe          Airport Duty-Free    Special Launch       3        0.8844       0.0277       9784         3261
Beijing              Asia            Mall/Retail Hub      Special Launch       6        0.8810       0.0318       13337        2223
Shanghai             Asia            Boutique Store       Special Launch       3        0.8795       0.0899       6284         2095
Zurich               Europe          Airport Duty-Free    Seasonal Campaign    5        0.8781       0.0568       14517        2903
Hong Kong            Asia            Airport Duty-Free    Seasonal Campaign    3        0.8721       0.0554       5989         1996
Milan                Europe          Airport Duty-Free    Standalone Pop-Up    3        0.8716       0.0505       8301         2767
Beijing              Asia            Art/Design District  Flash Event          3        0.8704       0.0409       3597         1199
Sydney               Asia            Mall/Retail Hub      Standalone Pop-Up    3        0.8702       0.0590       11259        3753
Vienna               Europe          Art/Design District  Seasonal Campaign    3        0.8654       0.1937       7691         2564
Amsterdam            Europe          Art/Design District  Seasonal Campaign    5        0.8647       0.0872       9251         1850
Chicago              North America   Airport Duty-Free    Flash Event          3        0.8643       0.0438       9491         3164
Amsterdam            Europe          Tech/Innovation Hub  Flash Event          3        0.8625       0.0236       6004         2001
Berlin               Europe          Airport Duty-Free    Flash Event          3        0.8624       0.0346       8064         2688
New York             North America   Boutique Store       Special Launch       6        0.8611       0.0453       13158        2193
Berlin               Europe          Airport Duty-Free    Special Launch       3        0.8592       0.0478       4641         1547
Amsterdam            Europe          Airport Duty-Free    Special Launch       3        0.8591       0.0831       8819         2940

In [22]:
#query 6: BRAND PERFORMANCE BY REGION

print("Brand Performance by Region:")

query = text("""
    SELECT 
        b.brand,
        b.parent_company,
        r.region,
        COUNT(e.event_id) as events,
        ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
        SUM(e.units_sold) as total_units_sold
    FROM events e
        JOIN brands b ON e.brand_id = b.brand_id
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
    GROUP BY b.brand, b.parent_company, r.region
    ORDER BY b.brand, avg_sell_through DESC
""")

result = connection.execute(query)
print(f"\n{'Brand':<25} {'Parent Company':<25} {'Region':<15} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12}")
print("-" * 125)
for row in result:
    print(f"{row[0]:<25} {row[1]:<25} {row[2]:<15} {row[3]:<8} {row[4]:<12.4f} {row[5]:<12.4f} {row[6]:<12}")

Brand Performance by Region:

Brand                     Parent Company            Region          Events   Avg Sell %   Avg Conv %   Total Units
-----------------------------------------------------------------------------------------------------------------------------
Armani Beauty             L'Oréal Group             Asia            20       0.7517       0.1483       41346
Armani Beauty             L'Oréal Group             Europe          45       0.7286       0.0496       81130
Armani Beauty             L'Oréal Group             North America   17       0.7269       0.0945       33317
Armani Beauty             L'Oréal Group             Middle East     3        0.6952       0.0382       5603
Benefit Cosmetics         LVMH                      Europe          54       0.7907       0.0655       120015
Benefit Cosmetics         LVMH                      Asia            21       0.7507       0.0635       41761
Benefit Cosmetics         LVMH                      Middle East     5        0.7369       0.0154       7216
Benefit Cosmetics         LVMH                      North America   16       0.6922       0.0635       28155
Bobbi Brown               Estée Lauder              Asia            27       0.7625       0.0382       45543
Bobbi Brown               Estée Lauder              Europe          38       0.7608       0.0554       83190
Bobbi Brown               Estée Lauder              North America   15       0.7026       0.1008       30841
Bobbi Brown               Estée Lauder              Middle East     2        0.6524       0.0295       3107
Burberry Beauty           Coty Inc.                 Middle East     3        0.8114       0.0622       6664
Burberry Beauty           Coty Inc.                 Asia            21       0.7670       0.0776       50058
Burberry Beauty           Coty Inc.                 North America   19       0.7132       0.0773       41009
Burberry Beauty           Coty Inc.                 Europe          47       0.7093       0.0436       84617
Chanel Beauty             Chanel                    Asia            26       0.7569       0.0409       46651
Chanel Beauty             Chanel                    North America   17       0.7382       0.0933       35206
Chanel Beauty             Chanel                    Europe          39       0.7263       0.0636       85984
Chanel Beauty             Chanel                    Middle East     4        0.6873       0.0317       7121
Charlotte Tilbury         Puig                      Middle East     3        0.7617       0.0455       5262
Charlotte Tilbury         Puig                      North America   20       0.7568       0.1280       46134
Charlotte Tilbury         Puig                      Europe          38       0.7267       0.0563       63313
Charlotte Tilbury         Puig                      Asia            32       0.6986       0.0753       57662
Clinique                  Estée Lauder              Europe          36       0.7761       0.0555       61047
Clinique                  Estée Lauder              Asia            39       0.7554       0.0498       72143
Clinique                  Estée Lauder              North America   17       0.7474       0.0474       31286
Dior                      LVMH                      Middle East     6        0.7475       0.0586       9043
Dior                      LVMH                      North America   13       0.7430       0.0447       23393
Dior                      LVMH                      Europe          39       0.7190       0.0882       77316
Dior                      LVMH                      Asia            32       0.7000       0.0685       64765
Estée Lauder              Estée Lauder              North America   30       0.7929       0.0494       56616
Estée Lauder              Estée Lauder              Europe          34       0.7545       0.0591       70190
Estée Lauder              Estée Lauder              Middle East     4        0.7358       0.0695       2388
Estée Lauder              Estée Lauder              Asia            22       0.7309       0.0839       42196
Fenty Beauty              LVMH                      Middle East     3        0.7736       0.1516       9873
Fenty Beauty              LVMH                      Europe          31       0.7633       0.0376       55446
Fenty Beauty              LVMH                      Asia            17       0.7081       0.0875       36901
Fenty Beauty              LVMH                      North America   20       0.6790       0.0856       40282
Givenchy Beauty           LVMH                      North America   17       0.7565       0.0557       32815
Givenchy Beauty           LVMH                      Asia            21       0.7205       0.1140       52702
Givenchy Beauty           LVMH                      Europe          46       0.7183       0.0532       83620
Givenchy Beauty           LVMH                      Middle East     7        0.6133       0.0760       14808
Gucci Beauty              Coty Inc.                 North America   12       0.7754       0.0457       24039
Gucci Beauty              Coty Inc.                 Asia            26       0.7349       0.0639       55298
Gucci Beauty              Coty Inc.                 Europe          49       0.7253       0.0715       95194
Gucci Beauty              Coty Inc.                 Middle East     2        0.7129       0.0621       4079
Hermès Beauty             Hermès International      Asia            21       0.7208       0.0704       42428
Hermès Beauty             Hermès International      North America   13       0.7207       0.0477       29631
Hermès Beauty             Hermès International      Europe          50       0.7144       0.0525       93658
Jo Malone                 Estée Lauder              Asia            28       0.7680       0.0660       64558
Jo Malone                 Estée Lauder              Middle East     2        0.7677       0.2616       5749
Jo Malone                 Estée Lauder              North America   19       0.7346       0.0519       37614
Jo Malone                 Estée Lauder              Europe          50       0.7011       0.0436       89355
Kiehl's                   L'Oréal Group             Asia            21       0.7382       0.1057       41133
Kiehl's                   L'Oréal Group             Middle East     7        0.7211       0.0481       14322
Kiehl's                   L'Oréal Group             Europe          50       0.7155       0.0474       91192
Kiehl's                   L'Oréal Group             North America   27       0.6723       0.0818       53809
La Mer                    Estée Lauder              Europe          45       0.7897       0.0605       101221
La Mer                    Estée Lauder              Middle East     4        0.7265       0.1285       7779
La Mer                    Estée Lauder              North America   10       0.7226       0.0125       13365
La Mer                    Estée Lauder              Asia            16       0.6824       0.0818       26302
Lancôme                   L'Oréal Group             North America   12       0.7689       0.0698       23482
Lancôme                   L'Oréal Group             Asia            28       0.7226       0.0391       41550
Lancôme                   L'Oréal Group             Europe          38       0.7019       0.0384       78727
Lancôme                   L'Oréal Group             Middle East     3        0.6169       0.0476       5364
Laura Mercier             Shiseido                  Middle East     2        0.8230       0.0133       2115
Laura Mercier             Shiseido                  Asia            18       0.7554       0.0544       47573
Laura Mercier             Shiseido                  Europe          56       0.7203       0.0512       113224
Laura Mercier             Shiseido                  North America   15       0.7130       0.0456       20832
MAC Cosmetics             Estée Lauder              Asia            26       0.7749       0.0917       54180
MAC Cosmetics             Estée Lauder              Europe          37       0.7374       0.0614       58243
MAC Cosmetics             Estée Lauder              North America   15       0.7360       0.0319       22147
Prada Beauty              L'Oréal Group             Asia            17       0.7408       0.0717       32219
Prada Beauty              L'Oréal Group             North America   22       0.7290       0.1018       47005
Prada Beauty              L'Oréal Group             Europe          44       0.7114       0.0429       85409
Prada Beauty              L'Oréal Group             Middle East     2        0.7050       0.0431       6488
Tom Ford Beauty           Estée Lauder              Asia            29       0.7163       0.0642       46069
Tom Ford Beauty           Estée Lauder              Europe          41       0.7084       0.0529       63173
Tom Ford Beauty           Estée Lauder              North America   24       0.6916       0.0721       51408
Tom Ford Beauty           Estée Lauder              Middle East     2        0.5999       0.0909       5322
Valentino Beauty          L'Oréal Group             Europe          53       0.7599       0.0625       106974
Valentino Beauty          L'Oréal Group             North America   17       0.7178       0.0589       33143
Valentino Beauty          L'Oréal Group             Asia            23       0.7176       0.0380       38220
Valentino Beauty          L'Oréal Group             Middle East     1        0.5040       0.0006       125
Versace Beauty            Euroitalia                Europe          46       0.7467       0.0866       87760
Versace Beauty            Euroitalia                Middle East     3        0.7463       0.0418       7707
Versace Beauty            Euroitalia                Asia            20       0.7316       0.1031       39007
Versace Beauty            Euroitalia                North America   19       0.6861       0.0696       36103
YSL Beauty                L'Oréal Group             North America   19       0.7924       0.0756       43283
YSL Beauty                L'Oréal Group             Asia            27       0.7456       0.0425       48830
YSL Beauty                L'Oréal Group             Middle East     5        0.7231       0.0314       8643
YSL Beauty                L'Oréal Group             Europe          51       0.7078       0.0631       99698

In [33]:
#query 7: Location Type + Event Type Performance Matrix:

print("Location Type + Event Type Performance Matrix:")

query = text("""
    SELECT 
        lt.location_type,
        et.event_type,
        COUNT(e.event_id) as event_count,
        ROUND(AVG(e.sell_through_pct), 4) as avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) as avg_conversion,
        ROUND(AVG(e.units_sold), 0) as avg_units_sold,
        CASE 
            WHEN AVG(e.sell_through_pct) >= 0.90 THEN 'EXCELLENT'
            WHEN AVG(e.sell_through_pct) >= 0.80 THEN 'GOOD'
            WHEN AVG(e.sell_through_pct) >= 0.70 THEN 'AVERAGE'
            ELSE 'NEEDS IMPROVEMENT'
        END as performance_tier
    FROM events e
        JOIN location_types lt ON e.location_type_id = lt.location_type_id
        JOIN event_types et ON e.event_type_id = et.event_type_id
    GROUP BY lt.location_type, et.event_type
    HAVING COUNT(e.event_id) >= 5
    ORDER BY avg_sell_through DESC
""")

result = connection.execute(query)
print(f"\n{'Location Type':<25} {'Event Type':<20} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Avg Units':<11} {'Performance':<18}")
print("-" * 125)
for row in result:
    print(f"{row[0]:<25} {row[1]:<20} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<11.0f} {row[6]:<18}")

Location Type + Event Type Performance Matrix:

Location Type             Event Type           Events   Avg Sell %   Avg Conv %   Avg Units   Performance
-----------------------------------------------------------------------------------------------------------------------------
Mall/Retail Hub           Special Launch       87       0.7809       0.0420       2183        AVERAGE
Airport Duty-Free         Special Launch       86       0.7706       0.0787       2192        AVERAGE
Airport Duty-Free         Flash Event          95       0.7689       0.0493       2120        AVERAGE
Boutique Store            Special Launch       73       0.7617       0.0768       1946        AVERAGE
Tech/Innovation Hub       Flash Event          89       0.7569       0.0743       1912        AVERAGE
Art/Design District       Special Launch       77       0.7531       0.0679       1845        AVERAGE
Mall/Retail Hub           Flash Event          87       0.7481       0.0346       1875        AVERAGE
Art/Design District       Flash Event          71       0.7480       0.1404       2167        AVERAGE
Airport Duty-Free         Standalone Pop-Up    76       0.7423       0.0403       1903        AVERAGE
Boutique Store            Flash Event          80       0.7400       0.0782       2145        AVERAGE
Boutique Store            Standalone Pop-Up    100      0.7333       0.0728       2010        AVERAGE
Mall/Retail Hub           Seasonal Campaign    106      0.7299       0.0470       2053        AVERAGE
Tech/Innovation Hub       Special Launch       85       0.7274       0.0487       1939        AVERAGE
Art/Design District       Seasonal Campaign    74       0.7263       0.0795       1675        AVERAGE
Mall/Retail Hub           Premium Event        108      0.7255       0.0402       1840        AVERAGE
Mall/Retail Hub           Standalone Pop-Up    83       0.7251       0.0433       1763        AVERAGE
Tech/Innovation Hub       Premium Event        91       0.7222       0.0507       1922        AVERAGE
Art/Design District       Standalone Pop-Up    83       0.7204       0.0891       1968        AVERAGE
Airport Duty-Free         Seasonal Campaign    99       0.7186       0.0593       1914        AVERAGE
Tech/Innovation Hub       Standalone Pop-Up    83       0.7180       0.0544       1934        AVERAGE
Boutique Store            Premium Event        92       0.7134       0.0706       1771        AVERAGE
Boutique Store            Seasonal Campaign    77       0.7099       0.0719       1845        AVERAGE
Art/Design District       Premium Event        71       0.7057       0.0803       1976        AVERAGE
Airport Duty-Free         Premium Event        78       0.6858       0.0556       1704        NEEDS IMPROVEMENT
Tech/Innovation Hub       Seasonal Campaign    82       0.6720       0.0626       1785        NEEDS IMPROVEMENT

In [34]:
#query 8: High Performer ID

print("High Performer Identification:")

query = text("""
    WITH location_performance AS (
        SELECT 
            l.location_id,
            l.city,
            r.region,
            COUNT(e.event_id) as event_count,
            AVG(e.sell_through_pct) as avg_sell_through,
            AVG(e.sales_conversion_rate) as avg_conversion,
            MIN(e.sell_through_pct) as worst_performance,
            MAX(e.sell_through_pct) as best_performance
        FROM events e
            JOIN locations l ON e.location_id = l.location_id
            JOIN regions r ON l.region_id = r.region_id
        GROUP BY l.location_id, l.city, r.region
        HAVING COUNT(e.event_id) >= 5
    )
    SELECT 
        city,
        region,
        event_count,
        ROUND(avg_sell_through, 4) as avg_sell_through,
        ROUND(avg_conversion, 4) as avg_conversion,
        ROUND(worst_performance, 4) as min_sell_through,
        ROUND(best_performance, 4) as max_sell_through,
        CASE 
            WHEN avg_sell_through >= 0.90 AND worst_performance >= 0.80 THEN 'TIER 1 - Consistent High Performer'
            WHEN avg_sell_through >= 0.90 THEN 'TIER 2 - High Average, Some Variability'
            WHEN avg_sell_through >= 0.85 THEN 'TIER 3 - Good Performance'
            ELSE 'TIER 4 - Needs Improvement'
        END as location_tier
    FROM location_performance
    ORDER BY avg_sell_through DESC
    LIMIT 15
""")

result = connection.execute(query)
print(f"\n{'City':<20} {'Region':<15} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Min Sell %':<12} {'Max Sell %':<12} {'Location Tier':<40}")
print("-" * 150)
for row in result:
    print(f"{row[0]:<20} {row[1]:<15} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<12.4f} {row[6]:<12.4f} {row[7]:<40}")

High Performer Identification:

City                 Region          Events   Avg Sell %   Avg Conv %   Min Sell %   Max Sell %   Location Tier
------------------------------------------------------------------------------------------------------------------------------------------------------
Stockholm            Europe          72       0.7716       0.0517       0.5047       1.0000       TIER 4 - Needs Improvement
Beijing              Asia            85       0.7631       0.0564       0.4468       1.0000       TIER 4 - Needs Improvement
Amsterdam            Europe          80       0.7491       0.0635       0.4099       1.0000       TIER 4 - Needs Improvement
Zurich               Europe          78       0.7445       0.0477       0.4344       0.9922       TIER 4 - Needs Improvement
Madrid               Europe          81       0.7436       0.0532       0.4208       0.9860       TIER 4 - Needs Improvement
Lisbon               Europe          47       0.7363       0.0618       0.4961       0.9411       TIER 4 - Needs Improvement
Seoul                Asia            90       0.7350       0.0703       0.4220       1.0000       TIER 4 - Needs Improvement
Chicago              North America   108      0.7344       0.0472       0.4090       1.0000       TIER 4 - Needs Improvement
Tokyo                Asia            86       0.7338       0.0946       0.4653       0.9750       TIER 4 - Needs Improvement
Berlin               Europe          81       0.7334       0.0729       0.4453       1.0000       TIER 4 - Needs Improvement
Shanghai             Asia            67       0.7315       0.0661       0.4613       1.0000       TIER 4 - Needs Improvement
San Francisco        North America   81       0.7305       0.0438       0.4287       1.0000       TIER 4 - Needs Improvement
Singapore            Asia            93       0.7303       0.0677       0.4045       1.0000       TIER 4 - Needs Improvement
Sydney               Asia            76       0.7299       0.0510       0.4405       1.0000       TIER 4 - Needs Improvement
Miami                North America   86       0.7294       0.1052       0.4694       0.9890       TIER 4 - Needs Improvement

In [35]:
#query 8: EXECUTIVE SUMMARY VIEW
print("Executive Summary Metrics:")

query = text("""
    WITH best_location_type AS (
        SELECT 
            lt.location_type,
            AVG(e.sell_through_pct) as avg_performance
        FROM events e
        JOIN location_types lt ON e.location_type_id = lt.location_type_id
        GROUP BY lt.location_type
        ORDER BY avg_performance DESC
        LIMIT 1
    )
    SELECT 'Overall Performance' as metric, ROUND(AVG(sell_through_pct), 4)::TEXT as value
    FROM events
    UNION ALL
    SELECT 'Total Events', COUNT(*)::TEXT FROM events
    UNION ALL
    SELECT 'Total Units Sold', SUM(units_sold)::TEXT FROM events
    UNION ALL
    SELECT 'High Performers (>90%)', COUNT(*)::TEXT FROM events WHERE sell_through_pct > 0.90
    UNION ALL
    SELECT 'Best Location Type', location_type FROM best_location_type
""")

result = connection.execute(query)
print(f"\n{'Metric':<30} {'Value':<20}")
print("-" * 50)
for row in result:
    print(f"{row[0]:<30} {row[1]:<20}")

Executive Summary Metrics:

Metric                         Value
--------------------------------------------------
Overall Performance            0.7323
Total Events                   2133
Total Units Sold               4132484
High Performers (>90%)         320
Best Location Type             Mall/Retail Hub

In [36]:
#query 9: BRAND PERFORMANCE BENCHMARKING
print("Brand Performance with Tiers:")

query = text("""
    SELECT
        b.brand,
        COUNT(e.event_id) AS total_events,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        SUM(e.units_sold) AS total_units_sold,
        CASE 
            WHEN AVG(e.sell_through_pct) >= 0.76 THEN 'Top Tier Performer'
            WHEN AVG(e.sell_through_pct) >= 0.73 THEN 'High Performer'
            WHEN AVG(e.sell_through_pct) >= 0.70 THEN 'Above Average'
            WHEN AVG(e.sell_through_pct) >= 0.65 THEN 'Average Performer'
            ELSE 'Below Average'
        END AS performance_tier,
        CASE 
            WHEN COUNT(e.event_id) >= 100 THEN 'High Volume Brand'
            WHEN COUNT(e.event_id) >= 70 THEN 'Medium Volume Brand'
            ELSE 'Low Volume Brand'
        END AS activity_level
    FROM events e
        JOIN brands b ON e.brand_id = b.brand_id
    GROUP BY b.brand
    ORDER BY avg_sell_through DESC, total_events DESC
""")

result = connection.execute(query)
print(f"\n{'Brand':<25} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Performance Tier':<22} {'Activity Level':<20}")
print("-" * 135)
for row in result:
    print(f"{row[0]:<25} {row[1]:<8} {row[2]:<12.4f} {row[3]:<12.4f} {row[4]:<12} {row[5]:<22} {row[6]:<20}")

Brand Performance with Tiers:

Brand                     Events   Avg Sell %   Avg Conv %   Total Units  Performance Tier       Activity Level
---------------------------------------------------------------------------------------------------------------------------------------
Benefit Cosmetics         96       0.7628       0.0621       197147       Top Tier Performer     Medium Volume Brand
Clinique                  92       0.7620       0.0516       164476       Top Tier Performer     Medium Volume Brand
Estée Lauder              90       0.7607       0.0624       171390       Top Tier Performer     Medium Volume Brand
La Mer                    75       0.7545       0.0623       148667       High Performer         Medium Volume Brand
MAC Cosmetics             78       0.7497       0.0658       134570       High Performer         Medium Volume Brand
Bobbi Brown               82       0.7481       0.0574       162681       High Performer         Medium Volume Brand
Valentino Beauty          94       0.7392       0.0552       178462       High Performer         Medium Volume Brand
Chanel Beauty             86       0.7361       0.0611       174962       High Performer         Medium Volume Brand
Gucci Beauty              89       0.7346       0.0656       178610       High Performer         Medium Volume Brand
YSL Beauty                102      0.7343       0.0584       200454       High Performer         High Volume Brand
Armani Beauty             85       0.7325       0.0814       161396       High Performer         Medium Volume Brand
Versace Beauty            88       0.7301       0.0852       170577       High Performer         Medium Volume Brand
Laura Mercier             91       0.7283       0.0500       183744       Above Average          Medium Volume Brand
Jo Malone                 99       0.7278       0.0559       197276       Above Average          Medium Volume Brand
Burberry Beauty           90       0.7270       0.0593       182348       Above Average          Medium Volume Brand
Fenty Beauty              71       0.7268       0.0679       142502       Above Average          Medium Volume Brand
Charlotte Tilbury         93       0.7246       0.0779       172371       Above Average          Medium Volume Brand
Prada Beauty              85       0.7217       0.0639       171121       Above Average          Medium Volume Brand
Givenchy Beauty           91       0.7179       0.0695       183945       Above Average          Medium Volume Brand
Dior                      90       0.7176       0.0729       174517       Above Average          Medium Volume Brand
Hermès Beauty             84       0.7170       0.0563       165717       Above Average          Medium Volume Brand
Lancôme                   81       0.7158       0.0437       149123       Above Average          Medium Volume Brand
Kiehl's                   105      0.7093       0.0680       200456       Above Average          High Volume Brand
Tom Ford Beauty           96       0.7043       0.0619       165972       Above Average          Medium Volume Brand

In [37]:
#query 10: regional brand dominance

print("Regional Brand Dominance (Top Brand per Region):")

query = text("""
    SELECT
        r.region,
        b.brand,
        COUNT(e.event_id) AS events_in_region,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        SUM(e.units_sold) AS total_units_sold,
        ROUND(COUNT(e.event_id) * 100.0 / SUM(COUNT(e.event_id)) OVER (PARTITION BY r.region), 2) AS pct_of_regional_events
    FROM events e
        JOIN brands b ON e.brand_id = b.brand_id
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
    GROUP BY r.region, b.brand
    HAVING COUNT(e.event_id) >= 10
    ORDER BY r.region, events_in_region DESC
""")

result = connection.execute(query)

#filter
seen_regions = set()
filtered_results = []
for row in result:
    if row[0] not in seen_regions:
        seen_regions.add(row[0])
        filtered_results.append(row)

print(f"\n{'Region':<15} {'Brand':<25} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'% of Region':<12}")
print("-" * 115)
for row in filtered_results:
    print(f"{row[0]:<15} {row[1]:<25} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<12} {row[6]:<12.2f}%")

Regional Brand Dominance (Top Brand per Region):

Region          Brand                     Events   Avg Sell %   Avg Conv %   Total Units  % of Region
-------------------------------------------------------------------------------------------------------------------
Asia            Clinique                  39       0.7554       0.0498       72143        6.75        %
Europe          Laura Mercier             56       0.7203       0.0512       113224       5.30        %
North America   Estée Lauder              30       0.7929       0.0494       56616        7.06        %

In [38]:
#query 11: event format preference by brand

print("Event Format Preference by Brand:")

query = text("""
    SELECT
        b.brand,
        et.event_type,
        COUNT(e.event_id) AS events_count,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        SUM(e.units_sold) AS total_units_sold,
        ROUND(COUNT(e.event_id) * 100.0 / SUM(COUNT(e.event_id)) OVER (PARTITION BY b.brand), 2) AS pct_of_brand_events
    FROM events e
        JOIN brands b ON e.brand_id = b.brand_id
        JOIN event_types et ON e.event_type_id = et.event_type_id
    GROUP BY b.brand, et.event_type
    HAVING COUNT(e.event_id) >= 5
    ORDER BY b.brand, events_count DESC
""")

result = connection.execute(query)

#filter
seen_brands = set()
filtered_results = []
for row in result:
    if row[0] not in seen_brands:
        seen_brands.add(row[0])
        filtered_results.append(row)

print(f"\n{'Brand':<25} {'Event Type':<20} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'% of Brand':<12}")
print("-" * 120)
for row in filtered_results:
    print(f"{row[0]:<25} {row[1]:<20} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<12} {row[6]:<12.2f}%")

Event Format Preference by Brand:

Brand                     Event Type           Events   Avg Sell %   Avg Conv %   Total Units  % of Brand
------------------------------------------------------------------------------------------------------------------------
Armani Beauty             Standalone Pop-Up    22       0.7399       0.1042       37869        25.88       %
Benefit Cosmetics         Special Launch       26       0.7676       0.0401       49748        27.08       %
Bobbi Brown               Special Launch       23       0.7252       0.0338       41381        28.05       %
Burberry Beauty           Seasonal Campaign    22       0.7128       0.0521       42441        24.44       %
Chanel Beauty             Flash Event          22       0.7588       0.0865       41914        25.58       %
Charlotte Tilbury         Premium Event        20       0.7168       0.0766       35161        21.51       %
Clinique                  Standalone Pop-Up    23       0.7592       0.0529       40817        25.00       %
Dior                      Flash Event          22       0.7631       0.0639       43630        24.44       %
Estée Lauder              Standalone Pop-Up    25       0.7961       0.0719       49432        27.78       %
Fenty Beauty              Premium Event        16       0.7375       0.0680       34098        22.54       %
Givenchy Beauty           Seasonal Campaign    23       0.7308       0.0662       55731        25.27       %
Gucci Beauty              Seasonal Campaign    24       0.7257       0.0894       46453        26.97       %
Hermès Beauty             Premium Event        18       0.6634       0.0525       29991        21.43       %
Jo Malone                 Seasonal Campaign    26       0.6844       0.0420       39255        26.26       %
Kiehl's                   Premium Event        27       0.6976       0.0508       41550        25.71       %
La Mer                    Seasonal Campaign    20       0.8011       0.0756       38340        26.67       %
Lancôme                   Flash Event          19       0.7076       0.0505       35480        23.46       %
Laura Mercier             Standalone Pop-Up    23       0.7368       0.0437       45976        25.27       %
MAC Cosmetics             Flash Event          20       0.8281       0.0446       34792        25.64       %
Prada Beauty              Premium Event        23       0.6988       0.0359       44957        27.06       %
Tom Ford Beauty           Flash Event          22       0.6925       0.0286       30319        22.92       %
Valentino Beauty          Premium Event        25       0.7111       0.0744       47256        26.60       %
Versace Beauty            Seasonal Campaign    25       0.7257       0.0693       38565        28.41       %
YSL Beauty                Special Launch       22       0.7862       0.0893       54049        21.57       %

In [39]:
#query 12: CONVERSION RATE LEADERS BY REGION
print("Top Conversion Brand by Region:")

query = text("""
    SELECT
        r.region,
        b.brand,
        COUNT(e.event_id) AS total_events,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        SUM(e.units_sold) AS total_units_sold,
        RANK() OVER (PARTITION BY r.region ORDER BY AVG(e.sales_conversion_rate) DESC) AS conversion_rank
    FROM events e
        JOIN brands b ON e.brand_id = b.brand_id
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
    GROUP BY r.region, b.brand
    HAVING COUNT(e.event_id) >= 5
    ORDER BY r.region, conversion_rank
""")

result = connection.execute(query)

# Filter 
filtered_results = [row for row in result if row[6] == 1]

print(f"\n{'Region':<15} {'Brand':<25} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Rank':<6}")
print("-" * 110)
for row in filtered_results:
    print(f"{row[0]:<15} {row[1]:<25} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<12} {row[6]:<6}")

Top Conversion Brand by Region:

Region          Brand                     Events   Avg Sell %   Avg Conv %   Total Units  Rank
--------------------------------------------------------------------------------------------------------------
Asia            Armani Beauty             20       0.7517       0.1483       41346        1
Europe          Dior                      39       0.7190       0.0882       77316        1
Middle East     Givenchy Beauty           7        0.6133       0.0760       14808        1
North America   Charlotte Tilbury         20       0.7568       0.1280       46134        1

In [46]:
#query 13: MOST VERSATILE BRANDS (MULTI-FORMAT SUCCESS)
print("Most Versatile Brands:")

query = text("""
    SELECT
    b.brand,
    COUNT(DISTINCT e.event_type_id) AS formats_used,
    COUNT(DISTINCT l.region_id) AS regions_active,
    COUNT(e.event_id) AS total_events,
    ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
    ROUND(MIN(e.sell_through_pct), 4) AS min_sell_through,
    ROUND(MAX(e.sell_through_pct), 4) AS max_sell_through,
    ROUND(STDDEV(e.sell_through_pct), 4) AS performance_consistency,
    CASE 
        WHEN STDDEV(e.sell_through_pct) <= 0.15 THEN 'Highly Consistent'
        WHEN STDDEV(e.sell_through_pct) <= 0.25 THEN 'Moderately Consistent'
        ELSE 'Variable Performance'
    END AS consistency_rating
FROM events e
    JOIN brands b ON e.brand_id = b.brand_id
    JOIN locations l ON e.location_id = l.location_id
GROUP BY b.brand
HAVING COUNT(DISTINCT e.event_type_id) >= 3
ORDER BY formats_used DESC, avg_sell_through DESC;
""")

result = connection.execute(query)
print(f"\n{'Brand':<25} {'Formats':<9} {'Regions':<9} {'Events':<8} {'Avg Sell %':<12} {'Min %':<10} {'Max %':<10} {'Std Dev':<10} {'Consistency':<22}")
print("-" * 140)
for row in result:
    print(f"{row[0]:<25} {row[1]:<9} {row[2]:<9} {row[3]:<8} {row[4]:<12.4f} {row[5]:<10.4f} {row[6]:<10.4f} {row[7]:<10.4f} {row[8]:<22}")

Most Versatile Brands:

Brand                     Formats   Regions   Events   Avg Sell %   Min %      Max %      Std Dev    Consistency
--------------------------------------------------------------------------------------------------------------------------------------------
Benefit Cosmetics         5         4         96       0.7628       0.4796     1.0000     0.1404     Highly Consistent
Clinique                  5         3         92       0.7620       0.4468     1.0000     0.1460     Highly Consistent
Estée Lauder              5         4         90       0.7607       0.4090     1.0000     0.1510     Moderately Consistent
La Mer                    5         4         75       0.7545       0.4220     1.0000     0.1430     Highly Consistent
MAC Cosmetics             5         3         78       0.7497       0.4240     1.0000     0.1524     Moderately Consistent
Bobbi Brown               5         4         82       0.7481       0.4208     1.0000     0.1418     Highly Consistent
Valentino Beauty          5         4         94       0.7392       0.4453     1.0000     0.1475     Highly Consistent
Chanel Beauty             5         4         86       0.7361       0.4224     1.0000     0.1435     Highly Consistent
Gucci Beauty              5         4         89       0.7346       0.4317     1.0000     0.1426     Highly Consistent
YSL Beauty                5         4         102      0.7343       0.4293     1.0000     0.1517     Moderately Consistent
Armani Beauty             5         4         85       0.7325       0.4023     1.0000     0.1591     Moderately Consistent
Versace Beauty            5         4         88       0.7301       0.4045     0.9960     0.1477     Highly Consistent
Laura Mercier             5         4         91       0.7283       0.4599     1.0000     0.1505     Moderately Consistent
Jo Malone                 5         4         99       0.7278       0.4198     1.0000     0.1499     Highly Consistent
Burberry Beauty           5         4         90       0.7270       0.4064     1.0000     0.1500     Moderately Consistent
Fenty Beauty              5         4         71       0.7268       0.4583     0.9973     0.1468     Highly Consistent
Charlotte Tilbury         5         4         93       0.7246       0.4543     1.0000     0.1333     Highly Consistent
Prada Beauty              5         4         85       0.7217       0.5053     1.0000     0.1317     Highly Consistent
Givenchy Beauty           5         4         91       0.7179       0.4593     1.0000     0.1292     Highly Consistent
Dior                      5         4         90       0.7176       0.3997     1.0000     0.1535     Moderately Consistent
Hermès Beauty             5         3         84       0.7170       0.4335     0.9860     0.1404     Highly Consistent
Lancôme                   5         4         81       0.7158       0.4352     1.0000     0.1593     Moderately Consistent
Kiehl's                   5         4         105      0.7093       0.3950     1.0000     0.1374     Highly Consistent
Tom Ford Beauty           5         4         96       0.7043       0.4260     0.9986     0.1502     Moderately Consistent

In [47]:
#query 14: Most Underutilized Regions
print("Most Underutilized Regions:")

query = text("""
    SELECT
        r.region,
        COUNT(DISTINCT e.brand_id) AS active_brands,
        COUNT(e.event_id) AS total_events,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        24 - COUNT(DISTINCT e.brand_id) AS missing_brands,
        CASE 
            WHEN COUNT(DISTINCT e.brand_id) >= 20 THEN 'Saturated Market'
            WHEN COUNT(DISTINCT e.brand_id) >= 15 THEN 'Developed Market'
            ELSE 'Growth Opportunity'
        END AS market_maturity
    FROM events e
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
    GROUP BY r.region
    ORDER BY missing_brands DESC, avg_sell_through DESC
""")

result = connection.execute(query)
print(f"\n{'Region':<15} {'Active Brands':<14} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Missing Brands':<15} {'Market Maturity':<20}")
print("-" * 120)
for row in result:
    print(f"{row[0]:<15} {row[1]:<14} {row[2]:<8} {row[3]:<12.4f} {row[4]:<12.4f} {row[5]:<15} {row[6]:<20}")

Most Underutilized Regions:

Region          Active Brands  Events   Avg Sell %   Avg Conv %   Missing Brands  Market Maturity
------------------------------------------------------------------------------------------------------------------------
Middle East     21             73       0.7119       0.0621       3               Saturated Market
Asia            24             578      0.7360       0.0700       0               Saturated Market
Europe          24             1057     0.7332       0.0569       0               Saturated Market
North America   24             425      0.7287       0.0694       0               Saturated Market

In [48]:
#query 15: HIGH-PERFORMING FORMAT-REGION COMBINATIONS

print("High-Performing Format-Region Combinations:")

query = text("""
    SELECT
        r.region,
        et.event_type,
        COUNT(e.event_id) AS total_events,
        COUNT(DISTINCT e.brand_id) AS brands_participating,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        SUM(e.units_sold) AS total_units_sold,
        CASE 
            WHEN AVG(e.sell_through_pct) >= 0.75 AND COUNT(e.event_id) >= 20 THEN 'Proven Winner'
            WHEN AVG(e.sell_through_pct) >= 0.70 THEN 'Strong Performer'
            ELSE 'Needs Improvement'
        END AS combo_rating
    FROM events e
        JOIN locations l ON e.location_id = l.location_id
        JOIN regions r ON l.region_id = r.region_id
        JOIN event_types et ON e.event_type_id = et.event_type_id
    GROUP BY r.region, et.event_type
    HAVING COUNT(e.event_id) >= 10
    ORDER BY avg_sell_through DESC, total_events DESC
""")

result = connection.execute(query)
print(f"\n{'Region':<15} {'Event Type':<20} {'Events':<8} {'Brands':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Rating':<18}")
print("-" * 125)
for row in result:
    print(f"{row[0]:<15} {row[1]:<20} {row[2]:<8} {row[3]:<8} {row[4]:<12.4f} {row[5]:<12.4f} {row[6]:<12} {row[7]:<18}")

High-Performing Format-Region Combinations:

Region          Event Type           Events   Brands   Avg Sell %   Avg Conv %   Total Units  Rating
-----------------------------------------------------------------------------------------------------------------------------
Asia            Special Launch       115      24       0.7758       0.0764       226517       Proven Winner
Middle East     Special Launch       15       10       0.7582       0.0650       30685        Strong Performer
Europe          Flash Event          198      24       0.7577       0.0585       398936       Proven Winner
North America   Special Launch       87       23       0.7557       0.0495       176613       Proven Winner
Asia            Flash Event          137      24       0.7551       0.0748       271086       Proven Winner
Europe          Special Launch       191      24       0.7503       0.0593       393615       Proven Winner
North America   Flash Event          78       24       0.7461       0.0998       171332       Strong Performer
Europe          Standalone Pop-Up    214      24       0.7306       0.0527       404384       Strong Performer
North America   Standalone Pop-Up    84       23       0.7284       0.0631       164185       Strong Performer
Middle East     Standalone Pop-Up    18       12       0.7229       0.0529       28005        Strong Performer
Asia            Standalone Pop-Up    109      24       0.7227       0.0762       219259       Strong Performer
Asia            Seasonal Campaign    108      24       0.7184       0.0686       217800       Strong Performer
Europe          Seasonal Campaign    222      24       0.7176       0.0543       400823       Strong Performer
North America   Premium Event        82       24       0.7165       0.0611       148015       Strong Performer
Europe          Premium Event        232      24       0.7156       0.0600       431938       Strong Performer
Middle East     Premium Event        17       10       0.7127       0.0509       35356        Strong Performer
Asia            Premium Event        109      24       0.7010       0.0522       194433       Strong Performer
North America   Seasonal Campaign    94       24       0.7002       0.0755       174770       Strong Performer
Middle East     Seasonal Campaign    14       12       0.6658       0.0592       26014        Needs Improvement

In [49]:
#query 16: BRAND PARTICIPATION ACROSS REGIONS AND FORMATS (AGGREGATED)
print("Brand Participation Across Regions and Formats (Aggregated):")

query = text("""
    SELECT
        b.brand,
        COUNT(DISTINCT l.region_id) AS regions_active,
        COUNT(DISTINCT e.event_type_id) AS formats_used,
        COUNT(e.event_id) AS total_events,
        ROUND(AVG(e.sell_through_pct), 4) AS avg_sell_through,
        ROUND(AVG(e.sales_conversion_rate), 4) AS avg_conversion,
        SUM(e.units_sold) AS total_units_sold,
        ROUND(STDDEV(e.sell_through_pct), 4) AS performance_variability,
        ROUND(MIN(e.sell_through_pct), 4) AS worst_sell_through,
        ROUND(MAX(e.sell_through_pct), 4) AS best_sell_through,
        CASE 
            WHEN AVG(e.sell_through_pct) >= 0.76 THEN 'Top Tier'
            WHEN AVG(e.sell_through_pct) >= 0.73 THEN 'High Performer'
            WHEN AVG(e.sell_through_pct) >= 0.70 THEN 'Above Average'
            ELSE 'Average'
        END AS performance_tier,
        CASE 
            WHEN COUNT(DISTINCT l.region_id) >= 4 AND COUNT(DISTINCT e.event_type_id) >= 4 THEN 'Highly Diversified'
            WHEN COUNT(DISTINCT l.region_id) >= 3 OR COUNT(DISTINCT e.event_type_id) >= 3 THEN 'Moderately Diversified'
            ELSE 'Focused Strategy'
        END AS diversification_level
    FROM events e
        JOIN brands b ON e.brand_id = b.brand_id
        JOIN locations l ON e.location_id = l.location_id
    GROUP BY b.brand
    ORDER BY avg_sell_through DESC, total_events DESC
""")

result = connection.execute(query)
print(f"\n{'Brand':<25} {'Regions':<9} {'Formats':<9} {'Events':<8} {'Avg Sell %':<12} {'Avg Conv %':<12} {'Total Units':<12} {'Std Dev':<10} {'Worst %':<10} {'Best %':<10} {'Perf Tier':<15} {'Diversification':<22}")
print("-" * 180)
for row in result:
    print(f"{row[0]:<25} {row[1]:<9} {row[2]:<9} {row[3]:<8} {row[4]:<12.4f} {row[5]:<12.4f} {row[6]:<12} {row[7]:<10.4f} {row[8]:<10.4f} {row[9]:<10.4f} {row[10]:<15} {row[11]:<22}")

Brand Participation Across Regions and Formats (Aggregated):

Brand                     Regions   Formats   Events   Avg Sell %   Avg Conv %   Total Units  Std Dev    Worst %    Best %     Perf Tier       Diversification
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Benefit Cosmetics         4         5         96       0.7628       0.0621       197147       0.1404     0.4796     1.0000     Top Tier        Highly Diversified
Clinique                  3         5         92       0.7620       0.0516       164476       0.1460     0.4468     1.0000     Top Tier        Moderately Diversified
Estée Lauder              4         5         90       0.7607       0.0624       171390       0.1510     0.4090     1.0000     Top Tier        Highly Diversified
La Mer                    4         5         75       0.7545       0.0623       148667       0.1430     0.4220     1.0000     High Performer  Highly Diversified
MAC Cosmetics             3         5         78       0.7497       0.0658       134570       0.1524     0.4240     1.0000     High Performer  Moderately Diversified
Bobbi Brown               4         5         82       0.7481       0.0574       162681       0.1418     0.4208     1.0000     High Performer  Highly Diversified
Valentino Beauty          4         5         94       0.7392       0.0552       178462       0.1475     0.4453     1.0000     High Performer  Highly Diversified
Chanel Beauty             4         5         86       0.7361       0.0611       174962       0.1435     0.4224     1.0000     High Performer  Highly Diversified
Gucci Beauty              4         5         89       0.7346       0.0656       178610       0.1426     0.4317     1.0000     High Performer  Highly Diversified
YSL Beauty                4         5         102      0.7343       0.0584       200454       0.1517     0.4293     1.0000     High Performer  Highly Diversified
Armani Beauty             4         5         85       0.7325       0.0814       161396       0.1591     0.4023     1.0000     High Performer  Highly Diversified
Versace Beauty            4         5         88       0.7301       0.0852       170577       0.1477     0.4045     0.9960     High Performer  Highly Diversified
Laura Mercier             4         5         91       0.7283       0.0500       183744       0.1505     0.4599     1.0000     Above Average   Highly Diversified
Jo Malone                 4         5         99       0.7278       0.0559       197276       0.1499     0.4198     1.0000     Above Average   Highly Diversified
Burberry Beauty           4         5         90       0.7270       0.0593       182348       0.1500     0.4064     1.0000     Above Average   Highly Diversified
Fenty Beauty              4         5         71       0.7268       0.0679       142502       0.1468     0.4583     0.9973     Above Average   Highly Diversified
Charlotte Tilbury         4         5         93       0.7246       0.0779       172371       0.1333     0.4543     1.0000     Above Average   Highly Diversified
Prada Beauty              4         5         85       0.7217       0.0639       171121       0.1317     0.5053     1.0000     Above Average   Highly Diversified
Givenchy Beauty           4         5         91       0.7179       0.0695       183945       0.1292     0.4593     1.0000     Above Average   Highly Diversified
Dior                      4         5         90       0.7176       0.0729       174517       0.1535     0.3997     1.0000     Above Average   Highly Diversified
Hermès Beauty             3         5         84       0.7170       0.0563       165717       0.1404     0.4335     0.9860     Above Average   Moderately Diversified
Lancôme                   4         5         81       0.7158       0.0437       149123       0.1593     0.4352     1.0000     Above Average   Highly Diversified
Kiehl's                   4         5         105      0.7093       0.0680       200456       0.1374     0.3950     1.0000     Above Average   Highly Diversified
Tom Ford Beauty           4         5         96       0.7043       0.0619       165972       0.1502     0.4260     0.9986     Above Average   Highly Diversified

In [50]:
#query 17:
print("Key Performance Indicators (KPI) Summary:")

query = text("""
    SELECT 'Overall Sell-Through Rate' AS metric, 
        ROUND(AVG(e.sell_through_pct), 4)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'Overall Conversion Rate' AS metric, 
        ROUND(AVG(e.sales_conversion_rate), 4)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'Total Events' AS metric, 
        COUNT(e.event_id)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'Total Units Sold' AS metric, 
        SUM(e.units_sold)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'Total Brands Participating' AS metric, 
        COUNT(DISTINCT e.brand_id)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'Total Regions Active' AS metric, 
        COUNT(DISTINCT l.region_id)::TEXT AS value
    FROM events e
        JOIN locations l ON e.location_id = l.location_id

    UNION ALL

    SELECT 'Total Event Formats Used' AS metric, 
        COUNT(DISTINCT e.event_type_id)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'High Performers (>80% Sell-Through)' AS metric, 
        COUNT(e.event_id)::TEXT AS value
    FROM events e
    WHERE e.sell_through_pct >= 0.80

    UNION ALL

    SELECT 'Best Performing Region' AS metric, 
        sub.region AS value
    FROM (
        SELECT r.region, AVG(e.sell_through_pct) AS avg_st
        FROM events e
            JOIN locations l ON e.location_id = l.location_id
            JOIN regions r ON l.region_id = r.region_id
        GROUP BY r.region
        ORDER BY avg_st DESC
        LIMIT 1
    ) sub

    UNION ALL

    SELECT 'Best Performing Event Format' AS metric, 
        sub.event_type AS value
    FROM (
        SELECT et.event_type, AVG(e.sell_through_pct) AS avg_st
        FROM events e
            JOIN event_types et ON e.event_type_id = et.event_type_id
        GROUP BY et.event_type
        ORDER BY avg_st DESC
        LIMIT 1
    ) sub

    UNION ALL

    SELECT 'Best Performing Brand' AS metric, 
        sub.brand AS value
    FROM (
        SELECT b.brand, AVG(e.sell_through_pct) AS avg_st
        FROM events e
            JOIN brands b ON e.brand_id = b.brand_id
        GROUP BY b.brand
        ORDER BY avg_st DESC
        LIMIT 1
    ) sub

    UNION ALL

    SELECT 'Average Event Duration (Days)' AS metric, 
        ROUND(AVG(e.lease_length_days), 1)::TEXT AS value
    FROM events e

    UNION ALL

    SELECT 'Average Daily Footfall' AS metric, 
        ROUND(AVG(e.avg_daily_footfall), 0)::TEXT AS value
    FROM events e
""")

result = connection.execute(query)
print(f"\n{'Metric':<40} {'Value':<30}")
print("-" * 70)
for row in result:
    print(f"{row[0]:<40} {row[1]:<30}")

Key Performance Indicators (KPI) Summary:

Metric                                   Value
----------------------------------------------------------------------
Overall Sell-Through Rate                0.7323
Overall Conversion Rate                  0.0631
Total Events                             2133
Total Units Sold                         4132484
Total Brands Participating               24
Total Regions Active                     4
Total Event Formats Used                 5
High Performers (>80% Sell-Through)      750
Best Performing Region                   Asia
Best Performing Event Format             Special Launch
Best Performing Brand                    Benefit Cosmetics
Average Event Duration (Days)            46.8
Average Daily Footfall                   1407